<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<nav th:fragment="admin-filter-nav" id="admin-filter-nav" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Filter by:</span>
    <ul class="navbar-nav me-auto">
      <li class="nav-item"><a class="nav-link" href="/admin?filter=major">Major</a></li>
  <!-- I could do a drop down that is generated which lists all the majors-->
<!--      <li class="nav-item"><a class="nav-link" href="/admin">Year</a><a class</li>-->
<!--      <li class="nav-item"><a class="nav-link" href="/admin">Term</a><a class</li>-->
    </ul>
  </div>
</nav>
</body>
</html>