<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<!--
  given a map: Map<Student, List<RequirementAndInstance>>
-->
<th:block th:fragment="student-accordion(map, docuMap)">
    <!--    TODO: used for testing -->
    <!--    <div class="container-md" th:each="docGuid: ${docuMap.keySet().iterator()}">-->
    <!--        <p th:text="${docGuid}"></p>-->
    <!--    </div>-->
    <div class="accordion">
        <div class="accordion-item" th:each="student: ${map.keySet().iterator()}">
            <h2 class="accordion-header" th:id="${student.getUid() + '-heading'}">
                <button aria-expanded="true" class="accordion-button collapsed" data-bs-toggle="collapse"
                        th:aria-controls="${student.getUid() + '-collapse'}" th:data-bs-target="${'#' + student.getUid() + '-collapse'}"
                        type="button">
                    <h5 th:text="${student.getFirst_name() + ' ' + student.getLast_name()}"></h5>
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="student-accordion"
                 th:aria-labelledby="${student.getUid() + '-heading'}" th:id="${student.getUid() + '-collapse'}">
                <div class="accordion-body" th:each="reqAndInstance: ${map.get(student)}">
                    <h3 th:text="${reqAndInstance.getRequirement().getTitle()}"></h3>
                    <th:block th:switch="${reqAndInstance.getRequirementInstance().getStatus()}">
                        <h4 class="text-bg-success" th:case="'Complete'">Status: Complete</h4>
                        <h4 class="text-bg-primary" th:case="'In Progress'">Status: In Progress</h4>
                        <h4 class="text-bg-secondary" th:case="'Incomplete'">Status: Incomplete</h4>
                    </th:block>
                    <p th:text="${reqAndInstance.getRequirement().getDescription()}"></p>
                    <!--TODO: implement buttons-->
                    <th:block th:unless="${reqAndInstance.getRequirementInstance().getDocGUID() == null}">
                        <p>I am not a null requirement document</p>
                        <p th:text="${reqAndInstance.getRequirementInstance().getDocGUID()}"></p>
                        <a th:href="${'/get-document/' + reqAndInstance.getRequirementInstance().getDocGUID() + '/' + docuMap.get(reqAndInstance.getRequirementInstance().getDocGUID()).getFileExtension()}">Download</a>
                        <p th:text="${docuMap.get(reqAndInstance.getRequirementInstance().getDocGUID()).getFileExtension()}"></p>
                        <!--                        &lt;!&ndash; TODO: fix this, there might not be a need to be a form for everything &ndash;&gt;-->
                        <!--                        <form th:action="${'/get-document/' + reqAndInstance.getRequirementInstance().getDocGUID() + '/' + docuMap.get(reqAndInstance.getRequirementInstance().getDocGUID()).getFileExtension()}" method="post"><input type="hidden" name="guid" th:value="${reqAndInstance.getRequirementInstance().getDocGUID()}">-->
                        <!--                            &lt;!&ndash; TODO: not sure why th:value is that &ndash;&gt;-->
                        <!--                            <input type="hidden" name="fileExtension"-->
                        <!--                                   th:value="${docuMap.get(reqAndInstance.getRequirementInstance().getDocGUID()).getFileExtension()}">-->
                        <!--                            <button type="submit">Download</button>-->
                        <!--                        </form>-->
                        <!--                        <button disabled>Approve</button>-->
                        <!--                        <button disabled>Deny</button>-->
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>