<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<!--
  given a map: Map<Student, List<RequirementAndInstance>>
-->
<th:block th:fragment="student-accordion (map)" class="accordion" id="student-accordion">
  <div class="accordion">
<!--    <p th:text="${'inside student-accordion ' + map.getClass()}"></p>-->
    <div class="accordion-item" th:each="student: ${map.keySet().iterator()}">
      <h2 class="accordion-header" th:id="${student.getUid() + '-heading'}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                th:data-bs-target="${'#' + student.getUid() + '-collapse'}" aria-expanded="true"
                th:aria-controls="${student.getUid() + '-collapse'}">
          <h5 th:text="${student.getUid()}"></h5>
        </button>
      </h2>
      <div th:id="${student.getUid() + '-collapse'}" class="accordion-collapse collapse"
           th:aria-labelledby="${student.getUid() + '-heading'}" data-bs-parent="student-accordion">
        <div class="accordion-body" th:each="reqAndInstance: ${map.get(student)}">
          <!-- TODO: used for debugging-->
          <!--<p th:text="${reqAndInstance.toString()}"></p>-->
          <!-- TODO: getRequirement is returning null -->
<!--          <h3 th:text="${reqAndInstance.getRequirement().getTitle()}"></h3>-->
          <h3 th:text="${'Title'}"></h3>
          <th:block th:switch="${reqAndInstance.getRequirementInstance().getStatus()}">
            <h4 th:case="'Complete'" class="text-bg-success">Status: Complete</h4>
            <h4 th:case="'In Progress'" class="text-bg-primary">Status: In Progress</h4>
            <h4 th:case="'Incomplete'" class="text-bg-secondary">Status: Incomplete</h4>
          </th:block>
          <!-- TODO: getRequirement is returning null -->
<!--          <p th:text="${reqAndInstance.getRequirement().getDescription()}"></p>-->
          <!--TODO: implement buttons-->
          <button>Download</button>
          <button>Approve</button>
          <button>Deny</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>