<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Major</title>
    <link rel="stylesheet" type="text/css" media="all" href="/bootstrap/css/bootstrap.css"/>
    <th:block th:replace="~{fragments/bootstrap-cdn-links}"></th:block>
</head>
<body>

<header>
    <div class="content-width">
        <h1><img src="/Icon.png" alt="Team Logo" width="80" height="80"> Teacher To-Do </h1>
        <h2><strong>A project devoted to helping new student teachers.</strong></h2>
    </div>
</header>
<div th:replace="~{fragments/admin-nav}"></div>
<form action="#" method="post" th:action="${'/admin/add-major'}" th:object="${major}">
    <div class="form-group">
        <label for="major">Major Name: </label>
        <input type="text" id="major" th:name="major" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>