<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Filter Students</title>
    <link href="/bootstrap/css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
    <th:block th:replace="~{fragments/bootstrap-cdn-links}"></th:block>
</head>
<body>
<header>
    <div class="content-width">
        <h1><img alt="Team Logo" height="80" src="/Icon.png" width="80"> Teacher To-Do </h1>
        <h2><strong>A project devoted to helping new student teachers.</strong></h2>
    </div>
</header>
<th:block th:replace="~{fragments/admin-nav}"></th:block>
<div class="container-md">
    <div class="row">
        <div class="col-sm">
            <h1>Students</h1>
            <th:block th:replace="~{fragments/admin-filter-nav}"></th:block>
            <th:block th:each="major: ${map.keySet().iterator()}">
                <h1 th:text="${major}"></h1>
                <th:block
                        th:replace="~{fragments/student-accordion(map=${map.get(major)}, docuMap=${docuMap})}"></th:block>
            </th:block>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>