<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher To-Do Students</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/bootstrap/css/bootstrap.css" />
</head>
<body>
<header>
    <div class="content-width">
        <h1><img src="/Icon.png" alt="Team Logo" width="80" height="80"> Teacher To-Do  </h1>
        <h2> <strong>A project devoted to helping new student teachers.</strong> </h2>
    </div>
</header>
<label for="filter"> Filter Students</label>
<input type="search" id="filter" name="filter">
<div class = "container-md">
    <div class = "row">
        <div class="col-sm">
            <h1>Students</h1>
<!--            <div class="accordion" th:id="${student.getUid() + '-accordion'}" th:each="student: ${studentArray.keySet().iterator()}">-->
<!--            <div th:each="student: ${studentArray.keySet().iterator()}">-->
<!--                <div class="accordion" th:id="${student.getUid() + '-accordion'}">-->
                <div class="accordion" id="student-accordion">
<!--                    <div class="accordion-item">-->
                    <div class="accordion-item" th:each="student: ${map.keySet().iterator()}">
                        <h2 class="accordion-header" th:id="${student.getUid() + '-heading'}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#' + student.getUid() + '-collapse'}" aria-expanded="true" th:aria-controls="${student.getUid() + '-collapse'}">
                                <h5 th:text="${student.getUid()}"></h5>
                            </button>
                        </h2>
                        <div th:id="${student.getUid() + '-collapse'}" class="accordion-collapse collapse show" th:aria-labelledby="${student.getUid() + '-heading'}" data-bs-parent="student-accordion">
                            <div class="accordion-body" th:each="task: ${map.get(student)}">
                                <!-- TODO: title is not part of requirements instance -->
                                <!-- <p th:text="${task.getTitle() + ' - ' +  task.getStatus()}"></p> -->
                                <p th:text="${'Task Title Temp - ' +  task.getStatus()}"></p>
                                <!--TODO: implement buttons-->
                                <button>Download</button>
                                <button>Approve</button>
                                <button>Deny</button>
                            </div>
                        </div>
                    </div>
                </div>
<!--            </div>-->
        </div>
    </div>
</div>
<script src="/bootstrap/js/bootstrap.js"></script>


</body>
</html>