<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Delete Major</title>
    <link href="/bootstrap/css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
    <th:block th:replace="~{fragments/bootstrap-cdn-links}"></th:block>
</head>
<body>

<header>
    <div class="content-width">
        <h1><img alt="Team Logo" height="80" src="/Icon.png" width="80"> Teacher To-Do </h1>
        <h2><strong>A project devoted to helping new student teachers.</strong></h2>
    </div>
</header>
<div th:replace="~{fragments/admin-nav}"></div>
<h2>Delete Major</h2>
<p>Are you sure that you want to delete this major?</p>
<form method="post" th:action="${'/admin/delete-major/' + major}">
    <button class="btn btn-danger" type="submit">Confirm</button>
</form>
<form action="/admin/view-majors" th:method="get">
    <button class="btn btn-secondary" type="submit">Cancel</button>
</form>
</body>
</html>