<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>View Admininstrators</title>
</head>
<body>
<div th:replace="~{fragments/admin-nav}"></div>
<h2>View Admins</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">UID</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="admin : ${adminList}">
        <td th:text="${admin.getUID();}"></td>
        <td>
            <button class="btn btn-danger" th:action="@{/admin/delete-admin/${admin.getUID()}}" type="button">Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>