<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>View Majors</title>
    <link href="/bootstrap/css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
    <th:block th:replace="~{fragments/bootstrap-cdn-links}"></th:block>
</head>
<body>

<header>
    <div class="content-width">
        <h1><img alt="Team Logo" height="80" src="/Icon.png" width="80"> Teacher To-Do </h1>
        <h2><strong>A project devoted to helping new student teachers.</strong></h2>
    </div>
</header>
<div th:replace="~{fragments/admin-nav}"></div>
<h2>View Majors</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Major</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="major : ${majors}">
        <td th:text="${major.getMajor()}"></td>
        <td>
            <form method="get" th:action="${'/admin/delete-major/' + major.getMajor()}">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>