<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher To-Do Students</title>
    <link rel="stylesheet" type="text/css" media="all" href="/bootstrap/css/bootstrap.css"/>
    <th:block th:replace="~{fragments/bootstrap-cdn-links}"></th:block>
</head>
<body>

<header>
    <div class="content-width">
        <h1><img src="/Icon.png" alt="Team Logo" width="80" height="80"> Teacher To-Do </h1>
        <h2><strong>A project devoted to helping new student teachers.</strong></h2>
    </div>
</header>
<div th:replace="~{fragments/admin-nav}"></div>
<h2>View Requirements</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Major</th>
        <th scope="col">Description</th>
        <th scope="col">Requires Documentation</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="requirement : ${requirementList}">
        <td th:text="${requirement.getMajor()}"></td>
        <td th:text="${requirement.getDescription()}"></td>
        <td th:text="${requirement.isDocumentationRequired()}"></td>
        <td>
            <button type="button" class="btn btn-primary" th:action="@{/admin/edit-requirement/${requirement.getID()}}">Edit</button>
            <button type="button" class="btn btn-danger" th:action="@{/admin/delete-requirement/${requirement.getID()}}">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>