<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<body>
<!--
  given a map: Map<Student, List<RequirementAndInstance>>
-->
<th:block class="accordion" id="student-accordion" th:fragment="student-accordion (admins)">
    <div class="accordion">
        <!--    <p th:text="${'inside student-accordion ' + map.getClass()}"></p>-->
        <div class="accordion-item" th:each="student: ${map.keySet().iterator()}">
            <h2 class="accordion-header" th:id="${student.getUid() + '-heading'}">
                <button aria-expanded="true" class="accordion-button collapsed" data-bs-toggle="collapse"
                        th:aria-controls="${student.getUid() + '-collapse'}" th:data-bs-target="${'#' + student.getUid() + '-collapse'}"
                        type="button">
                    <h5 th:text="${student.getUid()}"></h5>
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="student-accordion"
                 th:aria-labelledby="${student.getUid() + '-heading'}" th:id="${student.getUid() + '-collapse'}">
                <div class="accordion-body" th:each="reqAndInstance: ${map.get(student)}">
                    <h3 th:text="${reqAndInstance.getRequirement().getTitle()}"></h3>
                    <th:block th:switch="${reqAndInstance.getRequirementInstance().getStatus()}">
                        <h4 class="text-bg-success" th:case="'Complete'">Status: Complete</h4>
                        <h4 class="text-bg-primary" th:case="'In Progress'">Status: In Progress</h4>
                        <h4 class="text-bg-secondary" th:case="'Incomplete'">Status: Incomplete</h4>
                    </th:block>
                    <p th:text="${reqAndInstance.getRequirement().getDescription()}"></p>
                    <!--TODO: implement buttons-->
                    <button>Download</button>
                    <button>Approve</button>
                    <button>Deny</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>